/* globals.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-[#111111] text-white min-h-screen font-inter;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #111111;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #00bfff; /* Neon Blue */
    border-radius: 10px;
    border: 2px solid #111111; /* Match background color to create the neon effect */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #1e90ff; /* Lighter Neon Blue */
  }
}

@layer utilities {
  .typewriter-cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: #00bfff; /* Neon Blue */
    animation: blink 1s steps(1) infinite;
    margin-left: 0.1em; /* Adjust the margin to align properly */
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  .h1-bold {
    @apply text-[36px] font-bold leading-[140%] tracking-tighter text-blue-500;
  }

  .h1-semibold {
    @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
  }

  .h2-bold {
    @apply text-[30px] font-bold leading-[140%] tracking-tighter text-blue-500;
  }

  .h3-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
  }

  .base-semibold {
    @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
  }

  .base-medium {
    @apply text-[16px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-medium leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-medium leading-[140%];
  }

  .btn {
    @apply bg-blue-500 text-white px-4 py-2 rounded transition hover:bg-blue-700;
  }

  .btn-enhanced {
    @apply bg-gradient-to-r from-blue-500 to-indigo-500 text-white px-6 py-3 rounded-full shadow-lg transition transform hover:scale-105 hover:from-blue-600 hover:to-indigo-600;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  .common-container {
    @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 lg:p-14 custom-scrollbar;
  }

  .background-svg {
    background-image: url('/assets/image/symbol.svg'); /* Adjusted to the actual path */
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  .experience-item {
    @apply cursor-pointer p-3 border-l-4 border-gray-700 hover:border-blue-500 hover:text-blue-500 transition-colors duration-200;
  }

  .experience-item-active {
    @apply border-blue-500 text-blue-500;
  }

  .experience-details {
    @apply p-5 bg-gray-800 rounded-lg;
  }

  .experience-title {
    @apply text-2xl font-semibold mb-3;
  }

  .experience-period {
    @apply text-gray-400 mb-3;
  }



  .neon-hover {
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
  }

  .neon-hover:hover {
    box-shadow: 0 0 15px #00bfff, 0 0 30px #00bfff, 0 0 45px #00bfff;
  }

  .neon-hover img {
    transition: transform 0.3s ease-in-out;
  }

  .neon-hover:hover img {
    transform: scale(1.1);
  }
  .skill-card {
    @apply bg-gray-900 p-5 rounded-lg shadow-lg cursor-pointer transition-all duration-300 ease-in-out;
    border: 2px solid transparent;
  }

  .skill-card-active {
    @apply border-blue-500;
  }

  .btn-skill {
    @apply bg-transparent border border-blue-500 text-blue-500 px-4 py-2 rounded-md mt-2 transition-colors duration-300 ease-in-out inline-block;
  }

  .btn-skill-active {
    @apply bg-blue-500 text-white shadow-lg;
  }

  .btn-skill:hover {
    @apply bg-blue-600 text-white;
  }

  .course-section {
    @apply flex flex-col space-y-2 mt-4;
  }

  .course-section p {
    @apply text-lg text-gray-300;
  }

  .course-section a {
    @apply block text-center;
  }
  .course-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-6;
  }

  .course-card {
    @apply bg-transparent border border-gray-700 rounded-lg p-5 shadow-md transition-transform duration-300 ease-in-out;
    position: relative;
    overflow: hidden;
  }

  .course-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
  }

  .course-card:hover::before {
    opacity: 1;
  }

  .course-card:hover {
    @apply transform scale-105;
  }

  .course-card-content {
    position: relative;
    z-index: 2;
  }

  .course-icon {
    @apply w-12 h-12 mb-4 text-blue-400;
  }

  .course-title {
    @apply font-semibold text-lg text-gray-200 mb-2;
  }

  .course-link {
    @apply text-blue-400 hover:text-blue-500 transition-colors duration-300 ease-in-out;
  }
/* a */
.course-cert-container {
  @apply mt-4;
}

.course-cert-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: #1e3a8a; /* Azul mais vibrante */
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-cert-item:hover {
  background-color: #2563eb; /* Azul mais claro ao hover */
  transform: translateY(-3px); /* Efeito de elevação ao hover */
}

.course-cert-title {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.relative {
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.relative:hover .tooltip {
  opacity: 1;
}

.course-cert-grid {
  @apply grid gap-4; /* Aumenta o espaçamento entre os botões */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsividade para enfileirar os botões se necessário */
}

.card-icon {
  @apply w-28 h-28 mb-4;
}

.navigation-button {
  @apply absolute top-1/2 transform -translate-y-1/2 p-3 rounded-full shadow-lg hover:bg-blue-400 transition-colors;
  z-index: 10;
}

.navigation-button-left {
  @apply left-2;
}

.navigation-button-right {
  @apply right-2;
}
/* Tooltip styling */
.tooltip-box {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(10px); /* Ajuste de posição e suave elevação */
  background-color: #1e293b; /* Azul escuro moderno */
  color: #ffffff;
  padding: 12px 16px; /* Mais espaço interno */
  border-radius: 8px; /* Bordas mais arredondadas */
  white-space: nowrap;
  font-size: 14px; /* Texto um pouco maior */
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); /* Sombra para dar profundidade */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Transições suaves */
}

.relative:hover .tooltip-box {
  opacity: 1;
  transform: translateX(-50%) translateY(0); /* Suave elevação */
}

.tooltip-box::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #1e293b transparent transparent transparent;
}

}
